.categories-container {
  padding: 40px 20px;
  text-align: center;
  background-color: #f0eeee;
  max-width: cover;
  margin: 0 auto;
  box-sizing: border-box;
}

.categories-container h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #333;
}

.categories-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px; /* row gap, column gap */
  margin-bottom: 40px;
}

.category-card {
  position: relative;
  height: 180px;
  width: 340px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: scale(1.03);
}

.category-card .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Dark transparent overlay */
  z-index: 1;
}

.category-card h3 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 20px;
  font-weight: 600;
  bottom: 15px;
  left: 15px;
  margin: 0;
}


.fiction {
  background-image: url('https://img.freepik.com/free-photo/science-fiction-scene_456031-64.jpg?semt=ais_hybrid&w=740');
}

.nonfiction {
  background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*ByFcIZOe8A4OpbWnOIPXBA.png');
}

.science {
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/050/355/019/small_2x/space-ship-journey-through-a-star-filled-galaxy-photo.jpg');
}

.biography {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/78/Nelson_Mandela_1994_%282%29.jpg');
}

.comics {
  background-image: url('https://www.dennemeyer.com/fileadmin/a/blog/Everyday_IP_The_battles_behind_comic_books/Everyday-IP_The-battles-behind-comic-books.jpg');
}

.romance {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20250705/pngtree-red-rose-on-open-book-romance-love-literature-reading-image_17589677.webp');
}

.self-help {
  background-image: url('https://i.pinimg.com/736x/26/2d/57/262d572f30f2a0cdab8778b44bd19b11.jpg');
}

.mystery {
  background-image: url('https://t4.ftcdn.net/jpg/06/54/72/27/360_F_654722797_LljpPGS07T2BC3ob5fhgCHtM79hph9eW.jpg');
}

.adventure {
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/026/907/746/small_2x/ai-generated-ai-generative-wild-tropical-jungle-forest-park-tree-landscape-adventure-travel-risky-explore-trip-background-landscape-graphic-art-photo.jpg');
}

